modules = ["nodejs-24", "python-base-3.13"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
DEPLOYER_PRIVATE_KEY = "0xde0099fc1c06faac3d861bb10ae7b541425bcd21b807e0e76fd9ea39714a9e3c"
BASESCAN_API_KEY = "M13UBZNVMDUKG53M8N1C84TAAKMRXMJHY8"

[nix]
channel = "stable-25_05"
packages = ["foundry"]
